*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  background-color: #d4c1ec;
  }
  
  .chat-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  /*  border: 1px solid #ccc; */
    
  }

  h2 {
    color:#736ced;
    
  }
  
  .chat-header {
    margin-top: 50px;
    text-align: center;
    font-size: 30px; 
  }
  
  .chat-messages {
    background-color: #9f9fed;
    height: 600px;
    padding: 25px;
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 15px;
  }

  .box-message{
    position: relative;
    width: 100%;
    justify-content: space-evenly;
  }
  
  #message-input{
    width: 88%;
    height: 50px;
    padding: 5px;
    margin-right: 5px;
    border-radius: 15px;
    border-color: #d4c1ec ;
    background-color: #f5f5f5;
  }
  
  button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 5px 10px;
    background-color: #9f9fed;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #736ced;
  }
  
  .emoji {
    cursor: pointer;
    padding: 5px;
  }
  
  #emoji-button.active + #emoji-list {
    display: block;
  }

  #emoji-button {
    position: relative; /* Adicione esta linha para definir a posição relativa */
  }

  #emoji-list {
    display: none;
    position: absolute;
    border-radius: 15px;
    bottom: 150px;
    left: 84%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 2; /* Para garantir que a lista de emojis fique acima dos outros elementos */
  }
  
  /* Adicione estas classes CSS ao seu arquivo style.css */
.sent-message {
  background-color: #736ced;
  color: #fff;
  text-align: right;
  padding: 10px;
  border-radius: 15px;
  margin: 5px 0;
}

.received-message {
  background-color: #6868a8;
  color: #000;
  text-align: left;
  padding: 10px;
  border-radius: 15px;
  margin: 5px 0;
}

  
